<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Video Downloader</title>
  </head>
  <body>
    <h1>YouTube Video Downloader</h1>
    <form action="/download" method="post">
      <label>URL: </label>
      <input type="text" name="url" placeholder="Video URL" />
      <button type="submit">Download</button>
    </form>
  </body>
</html>
